<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="GameInfo" type="NHLHTMLReports.MappingConfiguration"/>
    <section name="TeamSummary" type="NHLHTMLReports.MappingConfiguration"/>
  </configSections>
  <GameInfo
    Table="GAME_INFO"
    StoredProcedure="SP_INSERT_GAME_INFO"
    />
</configuration>

